<div class="card">
    <div class="card-body">
        <h4 class="card-title">Operations history</h4>
        <app-operations-filters (filter)="setFilters($event)"></app-operations-filters>
    </div>
</div>

<div class="card grid-container">
    <div class="card-body">
        <ag-grid-angular #grid
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowSelection]="'multiple'"
            [rowModelType]="'infinite'"
            [frameworkComponents]="frameworkComponents"
            [rowClassRules]="rowClassRules"
            (gridReady)="onGridReady()"
        ></ag-grid-angular>
    </div>
</div>

<div class="card summary-container">
    <div class="card-body">
        <app-operations-summary #summary></app-operations-summary>
    </div>
</div>