
.row {
    flex-wrap: nowrap;

    .button-container {
        display: flex;
    
        .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 0 0%;
            font-weight: 500;
            padding-top: .6rem;
        }
    }
}
