<div class="row">
    <div class="col">
        <h5>Summary</h5>
    </div>

    <div class="col-auto">
        <div class="form-floating">
            <div class="form-control disabled" id="totalRows">
                {{ numberFormatter.format((transactionSummary | async)?.totalItems ?? 0) }}
            </div>
            <label for="totalRows">Total operations</label>
        </div>
    </div>

    <div class="col-auto">
        <div class="form-floating">
            <div class="form-control disabled" id="totalValue"
            [ngClass]="((transactionSummary | async)?.totalValue ?? 0) > 0 ? 'text-primary' : 'text-danger'">
                {{ valueFormatter.format((transactionSummary | async)?.totalValue ?? 0) }}
            </div>
            <label for="totalValue">Total value</label>
        </div>
    </div>
</div>
