<div class="row">
    <div class="col">
        <h5>Summary</h5>
    </div>

    <div class="col-auto">
        <div class="form-floating">
            <div class="form-control disabled" id="totalRows">
                {{ (transactionSummary | async)?.totalItems }}
            </div>
            <label for="totalRows">Total operations</label>
        </div>
    </div>

    <div class="col-auto">
        <div class="form-floating">
            <div class="form-control disabled" id="totalValue"
            [ngClass]="valueKind === 'deposit' ? 'text-primary' : 'text-danger'">
                {{ (transactionSummary | async)?.totalValue }}
            </div>
            <label for="totalValue">Total value</label>
        </div>
    </div>
</div>
